

$white: #ffffff;
$blue: #0655c7;
$blue-extra-light: #bbd5fd;
$gray-dark: #818da8;
$yellow: #cb8f0b;
$yellow-light: #f8d56e;

@font-face {
    font-family: montserrat;
    src: local(Police Exemple), url('policeexemple.woff') format("woff"),
        url('policeexemple.otf') format("opentype");